/**
 * @name rust viridian
 * @description a discord theme based on midnight.
 * @author refact0r, vincentyeung
 * @version 2.1.1
 * @invite nz87hXyvcy
 * @website https://github.com/refact0r/midnight-discord
 * @source https://github.com/refact0r/midnight-discord/blob/master/themes/midnight.theme.css
 * @authorId 508863359777505300
 * @authorLink https://www.refact0r.dev
*/


/* import theme modules */
@import url('https://refact0r.github.io/midnight-discord/build/midnight.css');
@import url('./addons/HorizontalServerList.theme.css');

body {
    /* font options */
    --font: 'Barlow'; /* change to '' for default discord font */
    --code-font: 'JetBrains Mono'; /* change to '' for default discord font */
    font-weight: 400; /* normal text font weight. DOES NOT AFFECT BOLD TEXT */

    /* sizes */
    --gap: 12px; /* spacing between panels */
    --divider-thickness: 4px; /* thickness of unread messages divider and highlighted message borders */
    --border-thickness: 1px; /* thickness of borders around main panels. DOES NOT AFFECT OTHER BORDERS */

    /* animation/transition options */
    --animations: on; /* off: disable animations/transitions, on: enable animations/transitions */
    --list-item-transition: 0.2s ease; /* transition for list items */
    --dms-icon-svg-transition: 0.4s ease; /* transition for the dms icon */
    --border-hover-transition: 0.2s ease; /* transition for borders when hovered */

    /* top bar options */
    --top-bar-height: var(--gap); /* height of the top bar (discord default is 36px, old discord style is 24px, var(--gap) recommended if button position is set to titlebar) */
    --top-bar-button-position: titlebar; /* off: default position, hide: hide buttons completely, serverlist: move inbox button to server list, titlebar: move inbox button to channel titlebar (will hide title) */
    --top-bar-title-position: off; /* off: default centered position, hide: hide title completely, left: left align title (like old discord) */
    --subtle-top-bar-title: off; /* off: default, on: hide the icon and use subtle text color (like old discord) */

    /* window controls */
    --custom-window-controls: on; /* off: default window controls, on: custom window controls */
    --window-control-size: 14px; /* size of custom window controls */

    /* dms button options */
    --custom-dms-icon: custom; /* off: use default discord icon, hide: remove icon entirely, custom: use custom icon */
    --dms-icon-svg-url: url('https://raw.githubusercontent.com/yeungpakming/my-discord-theme/a47b25c4501bbd2947e6e8598990b6fbbe15bb3c/assets/blackhole.svg'); /* icon svg url. MUST BE A SVG. */
    --dms-icon-svg-size: 150%; /* size of the svg (css mask-size property) */
    --dms-icon-color-before: var(--icon-subtle); /* normal icon color */
    --dms-icon-color-after: var(--white); /* icon color when button is hovered/selected */
    --custom-dms-background: off; /* off to disable, image to use a background image (must set url variable below), color to use a custom color/gradient */
    --dms-background-image-url: url(''); /* url of the background image */
    --dms-background-image-size: cover; /* size of the background image (css background-size property) */
    --dms-background-color: linear-gradient(70deg, var(--blue-2), var(--purple-2), var(--red-2)); /* fixed color/gradient (css background property) */
    
    /* background image options */
    --background-image: off; /* off: no background image, on: enable background image (must set url variable below) */
    --background-image-url: url(''); /* url of the background image */

    /* transparency/blur options */
    /* NOTE: TO USE TRANSPARENCY/BLUR, YOU MUST HAVE TRANSPARENT BG COLORS. FOR EXAMPLE: --bg-4: hsla(220, 15%, 10%, 0.7); */
    --transparency-tweaks: on; /* off: no changes, on: remove some elements for better transparency */
    --remove-bg-layer: off; /* off: no changes, on: remove the base --bg-3 layer for use with window transparency (WILL OVERRIDE BACKGROUND IMAGE) */
    --panel-blur: off; /* off: no changes, on: blur the background of panels */
    --blur-amount: 12px; /* amount of blur */
    --bg-floating: var(--bg-3); /* set this to a more opaque color if floating panels look too transparent. only applies if panel blur is on  */

    /* chatbar options */
    --custom-chatbar: off; /* off: default chatbar, separated: chatbar separated from chat */
    --chatbar-height: 47px; /* height of the chatbar (56px by default, 47px to align with user panel, 56px recommended for separated) */

    /* other options */
    --small-user-panel: off; /* off: default user panel, on: smaller user panel like in old discord */

}

/* color options */
:root {
    --colors: on; /* off: discord default colors, on: midnight custom colors */

    /* text colors */
    --text-0: var(--bg-4); /* text on colored elements */
    --text-1: hsl(41, 56%, 91%); /* bright text on colored elements */
    --text-2: hsl(43, 71%, 93%); /* headings and important text */
    --text-3: hsl(38, 41%, 71%); /* normal text */
    --text-4: hsl(38, 17%, 58%); /* icon buttons and channels */
    --text-5: hsla(38, 41%, 71%, 0.4); /* muted channels/chats and timestamps */

    /* background and dark colors */
    --bg-1: hsl(20, 5%, 25%); /* dark buttons when clicked */
    --bg-2: #3c3836; /* dark buttons */
    --bg-3: hsl(20, 2%, 19%); /* spacing, secondary elements */
    --bg-4: hsl(0, 0%, 9%); /* main background color */
    --hover: hsla(20, 3%, 40%, 0.1); /* channels and buttons when hovered */
    --active: hsla(20, 3%, 40%, 0.2); /* channels and buttons when clicked or selected */
    --active-2: hsla(20, 3%, 40%, 0.3); /* extra state for transparent buttons */
    --message-hover: hsla(0, 0%, 0%, 0.1); /* messages when hovered */

    /* accent colors */
    --accent-1: var(--green-1); /* links and other accent text */
    --accent-2: var(--orange-2); /* small accent elements */
    --accent-3: var(--green-3); /* accent buttons */
    --accent-4: var(--yellow-4); /* accent buttons when hovered */
    --accent-5: var(--yellow-5); /* accent buttons when clicked */
    --accent-new: var(--red-2); /* stuff that's normally red like mute/deafen buttons */
    --mention: linear-gradient(to right, color-mix(in hsl, var(--accent-2), transparent 90%) 40%, transparent); /* background of messages that mention you */
    --mention-hover: linear-gradient(to right, color-mix(in hsl, var(--accent-2), transparent 95%) 40%, transparent); /* background of messages that mention you when hovered */
    --reply: linear-gradient(to right, color-mix(in hsl, var(--text-3), transparent 90%) 40%, transparent); /* background of messages that reply to you */
    --reply-hover: linear-gradient(to right, color-mix(in hsl, var(--text-3), transparent 95%) 40%, transparent); /* background of messages that reply to you when hovered */

    /* status indicator colors */
    --online: var(--green-2); /* change to #40a258 for default */
    --dnd: var(--red-2); /* change to #d83a41 for default */
    --idle: var(--yellow-2); /* change to #cc954c for default */
    --streaming: var(--purple-2); /* change to ##9147ff for default */
    --offline: var(--text-4); /* change to #82838b for default offline color */

    /* border colors */
    --border-light: var(--hover); /* general light border color */
    --border: var(--active); /* general normal border color */
    --border-hover: var(--active); /* border color of panels when hovered */
    --button-border: hsl(220, 0%, 100%, 0.1); /* neutral border color of buttons */

    /* base colors */
    --red-1: oklch(60% 0.17 27);
    --red-2: oklch(55% 0.15 27);
    --red-3: oklch(50% 0.15 27);
    --red-4: oklch(45% 0.15 27);
    --red-5: oklch(40% 0.13 27);

    --green-1: oklch(75% 0.07 173);
    --green-2: oklch(70% 0.07 173);
    --green-3: oklch(65% 0.07 173);
    --green-4: oklch(60% 0.07 170);
    --green-5: oklch(55% 0.05 168);

    --blue-1: oklch(75% 0.1 200);
    --blue-2: oklch(70% 0.1 195);
    --blue-3: oklch(65% 0.1 195);
    --blue-4: oklch(60% 0.1 195);
    --blue-5: oklch(55% 0.1 190);

    --yellow-1: oklch(80% 0.14 76);
    --yellow-2: oklch(75% 0.14 76);
    --yellow-3: oklch(70% 0.14 76);
    --yellow-4: oklch(65% 0.14 76);
    --yellow-5: oklch(60% 0.14 76);

    --purple-1: oklch(75% 0.11 310);
    --purple-2: oklch(70% 0.11 310);
    --purple-3: oklch(65% 0.11 310);
    --purple-4: oklch(60% 0.11 310);
    --purple-5: oklch(55% 0.11 310);

    --orange-1: oklch(68% 0.18 40);
    --orange-2: oklch(63% 0.15 44);
    --orange-3: oklch(58% 0.12 47); 
    --orange-4: oklch(53% 0.12 47);
    --orange-5: oklch(48% 0.12 47);
    
    --theme-color-1: #87C1AF;
    --theme-color-2: #9A2D28;
    --theme-color-3: #ECA93B;
    --theme-color-4: #181818;
    --theme-color-5: #FAF3E1;
    --theme-color-6: #B2653B;
    
}


/* Round server icons */
._6e9f8dce4cc18de3-wrapper {
  border-radius: 50% !important;
  overflow: hidden !important;
}

._48112cbe77dc5022-folderPreviewWrapper {
  border-radius: 50% !important;
  overflow: hidden !important;
}
/* End of round server icons */


/* Spotify tweak */
/* increase song title size */
#vc-spotify-song-title {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 120%;
  /* --- */
  color: var(--theme-color-5);
  filter: drop-shadow(0 0 2px black);
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.185);
}
/* adjust artist name */
#vc-spotify-titles span {
  color: rgb(184, 179, 179);
  filter: drop-shadow(0 0 2px black);
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.185);
}
/* End of Spotify tweak */


/* Custom scrollbar */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent-5); /* Slightly different color on hover */
}
/* End of custom scrollbar */

