/**
 * @name Horizontal Server List
 * @author Gibbu
 * @version 3.0.0
 * @description Moves the server list from the left to the top of Discord.
 * @source https://github.com/DiscordStyles/HorizontalServerList
 * @invite ZHthyCw
*/

@import url('https://discordstyles.github.io/HorizontalServerList/HorizontalServerList.css');

/* Bottom HorizontalServerList. Simply remove the comments surrounding the @import to enable it. */
/* @import url("https://discordstyles.github.io/HorizontalServerList/bottomhsl.css");  */

._5e434347c823b592-base[data-fullscreen='false'] ._5e434347c823b592-content {
	margin-top: unset;
	margin-bottom: var(--serverlist-real-height);
}
#app-mount {
	._5e434347c823b592-guilds {
		top: calc(100% + var(--serverlist-real-height));
	}
}

// BetterFolders - Vencord
._5e434347c823b592-container > div[style]:not(._5e434347c823b592-base) {
	bottom: calc(var(--serverlist-real-height) * 2);
	top: unset;

	._5e434347c823b592-guilds {
		top: calc(100% + var(--serverlist-real-height) * 2) !important;
	}

	& + ._5e434347c823b592-base ._5e434347c823b592-content {
		margin-top: unset;
		margin-bottom: calc(var(--serverlist-real-height) * 2);
	}
}


:root {
	--HSL-server-direction: column; /* Direction of the server list. | OPTIONS: column, column-reverse | DEFAULT: column */
	--HSL-server-alignment: flex-start; /* Alignment of the server list. | OPTIONS: flex-start, center, flex-end | DEFAULT: flex-start */
	--serverlist-real-height: calc(var(--custom-guild-list-width) + 12px); /* Brute-force alignment fix for midnight theme and similar. Adjust if necessary. */
}

